<div> 
  <% if @product && @product.errors.any? %>
    <h3><%= @product.errors.count %> error(s) prohibited this product from being updated </h3>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li> <strong> <%= message %> </strong> </li>
     <% end %>
    </ul>
  <% end %>
</div>

<%=form_tag "/products/#{@product.id}", method: :patch do %>
<div> 
 <label for="name">Name:</label> <input type="text" name="name" value="<%=@product.name%>">
 </div>
 
 <div>
 <label for="origin">Country of Origin:</label> <input type="text" name="origin" value="<%=@product.origin%>">

<div>
 <label for="price">Country of Price:</label> <input type="float" name="price" value="<%=@product.price%>">
</div>

<div>
 <label for="description">Description:</label> <input type="text" name="description" value="<%=@product.description%>">
</div>

<div>
 <label for="image">Image Link:</label> <input type="text" name="image" value="<%=@product.image%>">
</div>


<input type="submit" value="Update"> 
<% end %>