<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1> All Product Information</h1>
  <% @products.each do |product| %>
  <h1>-----------------------</h1>
  <h3> Name: <%=product.name %></h3>
  <h3>Country of Origin: <%=product.origin %></h3>
  <h3> Price: $<%=product.price %></h3>
  <h3>Description: <%=product.description %> </h3>
  <h3><img src="<%=product.image %>" alt="<%=product.name %>" style="width:400px;height:300px;"></h3> 
   <button class="btn btn-primary">Buy Now</button>
    <button class="btn btn-primary">Add to Cart</button>
  <% end %>
  
</body>
</html>