<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <% @products.each_slice(3) do |three_products| %>

    <div class="row"> 

        <% three_products.each do |product| %>
        <div class="col-md-4">
          <div class="well">
             <a href="/products/<%=product.id %>"><h3>Product ID: <%=product.id %></h3></a>
            <h3> Name: <%=product.name %></h3>
            <h3>Country of Origin: <%=product.origin %></h3>
            <h3> Price: $<%=product.price %></h3>
            <h3>Description: <%=product.description %> </h3>
            <h3><img src="<%=product.images.first.url %>" alt="<%=product.name %>"></h3>   
            <h2> 
               <%= button_to "Delete Product", {:action => "destroy", :id => product.id }, :method => :delete, data: {confirm: "Are you sure?"} %>
               <%= link_to "Edit Product", action: "edit", id: product.id %>
            </h2>
          </div>
        </div>
        <% end %>

    </div>
  <% end %>
</body>
</html>