
  <h1> Product Information</h1>
  <h2> <%= @product.sale_message %></h2>

  <h3> Name: <%=@product.name %></h3>
  <h3>Country of Origin: <%=@product.origin %></h3>
  <h3> Price: $<%=@product.price %></h3>
  <h3>Description: <%=@product.description %> </h3>
    <h3>Supplier: <%=@product.supplier.name %> </h3>
  <h3> Tax: $<%=@product.tax %> </h3>
  <% if @product.price < 2.00 %>
  <h3 class="discounted">Total price: $<%=@product.total %> </h3>
  <% else %>
   <h3>Total price: $<%=@product.total %> </h3>
  <% end %>


  <% @product.images.each do |image|%>
   <h3><img src="<%=image.url %>" alt=" product_image" class = "body_image" %> </h3>
  <% end %>
 
  <% if current_user &&current_user.admin %>
    <%= link_to "Add Image", controller: "images", action: "new", id: @product.id %>


    <%= form_tag "/products/#{@product.id}", method: :delete do %>
     <button class="btn btn-primary">Delete </button>
     <% end %>
   <% end %>
   <%= form_tag "/carted_products", method: :post do %>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity %> 
   <%= hidden_field_tag :product_id, @product.id %>
   <button class="btn btn-primary">Add to Cart</button>
   <% end %>
 
